body {
    margin: 0;
    padding: 0;
    background-color: #f1fffa;
    font-family: 'Roboto', sans-serif;
}


/*laptop/ipad screen*/
@media only screen and (min-width:800px) {
    .nav {
        background-color: #93B7BE;
        margin-top: -20px;
        width: 175px;
        height: 100%;
        position: fixed;
    }

    .navitems {
        padding: 25px;
        font-size: 18px;
        position: absolute;
        top: 100px;
    }

    a {
        text-decoration: none;
        color: #f1fffa;
        transition: font-size 1s;
    }

    a:hover {
        font-size: 21.5px;
    }

    .mobile-container {
        display: none;
    }

    .topnav {
        display: none;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav a:hover {
        display: none;
    }

    .active {
        display: none;
    }

}

/*phone screen*/
@media only screen and (max-width:500px) {
    .nav {
        display: none;
    }

    .navitems {
        display: none;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        color: white;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #9EC6CE;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: #f1fffa;
        padding: 30px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }


    .topnav a.icon {
        background: #9EC6CE;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #E8DCD2;
        color: black;
    }

    .active {
        color: white;
    }
}